@font-face {
  font-family: 'Neucha';
  src: local('Neucha'), url(../fonts/neucha/Neucha-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(../fonts/rubik/Rubik-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoSlab';
  src: local('RobotoSlab'), url(../fonts/roboto_slab/RobotoSlab-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  