* {
    box-sizing: border-box;
}

#root {
    height: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: grey;
    flex: 1 0 auto;
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    outline: none;
    height: 79vh;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 50px;
    height: 100%;
}

.imageContainer {
    display: flex;
    position: relative;
    overflow: auto;
    /* padding: 10px; */
    background-color: white;
    border:10px solid white;
    height: 100%;
    flex: 1 0 auto;
    top: -1vh;
    max-width: 90vw;
}

.imageContainer>img {
    height: 100%;
}

.canvasContainer {
    position: relative;
    background-color: white;
    padding: 10px;
    align-items: center;
}

.canvasContainer>canvas {
    display: block;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: absolute;
    left: calc(100% + 10px);
}

.buttonsContainer>button {
    margin-top: 4px;
}